* 
{
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Rubik+Spray+Paint&display=swap');


li h1 /* O meu nome*/
{
    /*Font setting*/
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 600;

    display: inline;
    margin-left: 30px;

}

nav ul li  /* lista do Menu*/
{
/*Font setting*/
    font-family: "Poppins";
    font-size: 17px;
    font-weight: 300;

  display: inline;
  margin-right: 10px;
}



nav 
{
  border-width: 3px;
  border-style: none;
  border-radius: 20px;
  
  display: inline-block;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
}