* 
{
  margin: 0;
  padding: 0;
  /*background-color: #F8F8F8*/
}

@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Rubik+Spray+Paint&display=swap');

/*MENU*/

nav 
{
  color: #F8F8F8;
margin-bottom: 10px;
margin-top: 10px;
}
#logo /* O meu nome*/
{
    /*Font setting*/
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 600;

    flex-grow: 1;
    display: inline;
    margin-left: 20px;

}

#logo:hover
{color: #9969F9
}


nav ul li  /* lista do Menu*/
{
/*Font setting*/
    font-family: "Poppins";
    font-size: 17px;
    font-weight: 300;

  display: inline;
  list-style-type: none;
  margin-right: 30px;
}

nav ul /* lista do Menu | Defenições*/
{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  
}

nav ul li:hover
{color: #9969F9}


/*APRESENTAÇÃO*/
#Presentation
{
  position: relative;
  flex-direction: row;
  display: inline;
}

#Presentation p 
{
/*Font setting*/
font-family: "Poppins";
  font-size: 36px;
  font-weight: 300;
color: #F8F8F8;
/*Background setting*/
background-color:#9969F9;
width: 35%;
height: 110%;
overflow:visible;
margin-top: 50px;
margin-bottom: 50px;
padding: 150px;
/*to top-left corner, top-right corner,to bottom-left corner*/
border-radius: 0px 100px 20px 0px;

}

/*o outro retângulo*/
div #placeholder
{
  background-color:#9969F9;
  width: 20%;
  height: 110%;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 150px;
  margin-left: auto;
  position: static;

}

div p span
{font-family: "Poppins";
    font-size: 36px;
    font-weight: bold;
  }

/*IMAGENS SCROLL*/
figure /*Imagens Sticky Scroll*/
{ 
  width: 100%;
  height: 100%;
  position: sticky;
  top: 0px;
  left: 0px;
}

figure img /*Defenir o tamanho das imagens Stickys*/
{
  width: 100%;
  height: 100%;
}

figcaption /*legenda das imagens stickys*/
{
  position: absolute;
  top: 425px;
  left: 92px;
  color: #F8F8F8;
  mix-blend-mode: difference;

   /*Font setting*/
   font-family: "Poppins";
   font-weight: 700; 
}

figcaption span /*legenda das imagens stickys*/
{
  position: relative;
  width: 50%;
  height: 50%;

   /*Font setting*/
   font-family: "Poppins";
   font-size: 10 px;
   font-weight: 500; 
}

/*botão das imagens stickys*/
section figure button {
  /*defenições para o manter no centro*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  background-color: #9969F9;
  opacity: 25%;
  color: #F8F8F8;
  padding: 50px;
  border: none;
  cursor: pointer;
  border-radius: 100px;

  font-family: "Poppins";
    font-size: 17px;
    font-weight: 500;
}

section figure button:hover {
  background-color: #9969F9;
  color: #F8F8F8;
  opacity: 100%;
}

/*   ABOUT ME   */

#about_me p
{
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 300;
  color: #F8F8F8;
  /*Background setting*/
 background-color:#9969F9;
 width: 35%;
 height: 110%;
 overflow:visible;
 margin-top: 50px;
 margin-bottom: 50px;
 padding: 150px;
 /*to top-left corner, top-right corner,to bottom-left corner*/
border-radius: 0px 100px 20px 0px;
}

h2
{
margin-left: 30px;
font-family: "Poppins"
font-size: 500px
font-weight: 300
}

/*Secção que controla a Tool Box: a sua forma e espaçamento entre o título e os conteudos*/
#Designers_ToolBox {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

/*ToolKit - Agrupa os conteúdos e controla a sua formação*/
.box-group {
  padding: 40px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-left: auto;
 max-width: 60%;
 justify-content: flex-end;
}

/*Controla os conteúdos dentro do ToolKit*/
.TollBox span img
{
  position: absolute;
  margin-left: 20px;

}
    /* espaçamento entre o ícone e o texto */
    .TollBox img {
      margin-right: 20px; /* espaçamento entre o ícone e o texto */
    }

/* dá forma á ToolBox */
.TollBox
{
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: #F8F8F8;
  border: 3px solid #9969F9;
  border-radius: 10px;
  width: 200px;
}
/* texto da Toolbox */
.TollBox span
{
  color: black;
  font-family: "Poppins";
  font-size: 15px;
  font-weight: 600;
}

.TextBox
{
/*Background setting*/
background-color:#9969F9;
width:19%;
height: 20%;
margin-top: 30px;
padding: 15px;
/*to top-left corner, top-right corner,to bottom-left corner*/
border-radius: 10px 100px 20px 10px;
}


.TextBox p
{
  color: #F8F8F8;
font-size: 24px;
font-weight: normal;
background-color: none;
width: 100%;
height: 100%;
padding-bottom: 10px;
padding-top: 10px;
}

.TextBox p span
{font-size: 24px;
  font-weight: 600;}
.TextBox h5
{
color: #F8F8F8;
background-color: none;
font-weight: 400;
width: 100%;
height: 100%;
margin-left: 40px;
padding: 5px;
}