
/* Daniela Teodoro, 3220561
Portfolio
3º ano 2024-2025, 2º Semestre
Época de Avaliação = Continua
ESAD.CR, Licenciatura Design Gráfico e Multimedia
Laboratório de Projeto II, Marco Heleno
05/05/2025
*/

@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Rubik+Spray+Paint&display=swap');


* 
{
  margin: 0;
  padding: 0;
}


body {
  font-family: "Poppins";
  font-weight: normal;
  color: black;
  font-size: 16px;
}


header
{
  width: 100%;
}

/* LINKS */
a:link { 
  text-decoration: none;
  font-weight: 300;
  cursor: pointer;
} 
a:visited { 
  text-decoration: none; 
  color: black;
  cursor: pointer;
} 
a:hover { 
  text-decoration: none;
  color:#9969F9;
} 
a:active { 
  text-decoration: none; 
}
a
{
  text-decoration: none;
  color: #9969F9;
  cursor: pointer;
}

/*Lists*/
ul li
{
  list-style-type: disc;
  margin-left: 5%;
}

/*Text styles (h)*/
h1
{
  font-weight: 500;
  margin-left: 2%;
}

h2
{
  display: flex;
  margin-left: 2%;
  font-weight: 600;
  margin-top: 2%;
}

h3
{
  margin-left: 2%;
  font-weight: 500;
  margin-top: 2%;
}

h5
{
  font-weight: 400;
}

#subtitle_right
{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 3%;
}

/*Cursor*/

/*
.cursor .stars
{
position: fixed;
left: 0;
pointer-events: none;
transition: transform .1s;
}

.cursor
{
background: #9969F9;
border-radius: 100%;
top: 0;
height: 25px;
width: 25px;
z-index: 999;
}

.stars
{
background: transparent;
top: 50%;
width: 40px;
height: 40px;
z-index: 9999;
display: grid;
place-content: center;
opacity: 0%;
}
.stars img
{
  width: 70px;
}
*/

/* MENU - nav bar*/

nav 
{
margin-bottom: 10px;
margin-top: 10px;
border-bottom: #9969F9 3px solid;

display: flex;
justify-content: space-between;
align-items: center;
}

#name_title /*o meu nome*/
{
    /*Defenições do tipo de letra*/
    font-size: 27px;
    font-weight: bold;

    margin-left: 2%;
}

nav ul /* lista do Menu | Defenições*/
{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-right: 8%;
}

nav ul li  /* lista do Menu*/
{
/*Defenições do tipo de letra*/
    
  font-size: 17px;
  font-weight: normal;
  list-style-type: none;
  margin-right: 3%;
}

/*   footer  */
footer
{
padding: 2%;
border-top: #9969F9 5px solid;
border-radius: 20px;

display: flex;
justify-content: space-between;
margin-top: 2%;
}

footer p
{
  letter-spacing: 1.5px;
}

footer span
{
  font-size: 20px;
  font-weight: bold;
  color: #9969F9;
}

/* lista das Redes Sociais*/
#Socials
{
width: 70%;
display: flex;
justify-content: flex-end;
gap: 2%;
}

/*Botões das Redes Sociais*/
.socials_button
{
display: flex;
justify-content: center;
align-items: center;
padding: 5px;
width: 18%;
gap: 2%;
  /*background*/
  background-color: #9969F9;
  border-radius: 30px;
  /*Defenições do tipo de letra*/
  color: #F8F8F8;
  font-size: 14px;
}

/*Redimensionar da foto do botão das Redes Sociais*/
#Socials .socials_button img
{
  width: 13%;
}

#Socials a:visited
{
  color: #F8F8F8;
}

#Socials a:hover
{
  color: #432285;
}

/* APRESENTAÇÃO */
/* controla a primeira área com os dois retângulos*/
/*Encontra-se na página "Index" e "About*/
#beggining
{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
}

/* retângulo à esquerda - nome e serviços*/
#left
{
  background-color:#9969F9;
  width: 55vw;
  margin-top: 50px;
  margin-bottom: 50px;

  border-radius: 0px 100px 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/*Defenições do tipo de letra do área "left"*/
#left p 
{
  padding: 90px;
  width: 70%;
  color: #F8F8F8;
  /* para defenir bem o tamanho que eu desejo = quase a tela toda */
  margin-top: 80px;
  margin-bottom: 50px;
}

/*Por os textos em grande e bold = o meu nome*/
#left p span
{
  font-size: 36px;
  font-weight: bold;
}

#left #index 
{
  /* Font setting */
  font-size: 36px;
}

#left #about 
{
  /* Font setting */
  font-size: 22px;
}

#curriculum
{
  padding: 2%;
width: 18%;
display: flex;
justify-content: center;
margin-bottom: 5%;

  /*background*/
  background-color: #432285;
  border-radius: 30px;
  /*Defenições do tipo de letra*/
  color: #9969F9;
  font-size: 14px;
}


/* retângulo à direita - "Currently available""*/
#right
{
  background-color:#9969F9;
  width: 35vw;
  margin-top: 50px;
  margin-bottom: 50px;

  /*to top-left corner, top-right corner,to bottom-left corner*/
  border-radius: 100px 0px  0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#right p 
{
  /*Font setting*/
  color: #F8F8F8;
  font-size: 36px;
}

#right p span
{
  text-decoration-line: underline;
}

#beggining a
{
  color: #F8F8F8;
  text-decoration-line: underline;
}

/* IMAGENS SCROLL */
/* Projetos principais*/
/*Encontra-se na página "Index"*/
figure /*Imagens Sticky Scroll*/
{ 
  width: 100%;
  height: 100%;
  position: sticky;
  top: 0px;
  left: 0px;
}

  figure img /*Defenir o tamanho das imagens Stickys*/
  {
    width: 100%;
    height: 100%;
  }

    figcaption /*legenda das imagens stickys*/
    {
      position: absolute;
      top: 50%;
      left: 6.5%;
      color: #F8F8F8;
      mix-blend-mode: difference;
      margin-top: 15px;

      /*Font setting*/
      font-weight: 700; 
    }

      figcaption span /*legenda das imagens stickys - texto secundário*/
      {
        position: relative;
        width: 50%;
        height: 50%;
        margin-top: 1%;

        /*Font setting*/
        font-size: 10 px;
        font-weight: 500; 
      }

/*botão das imagens stickys*/
section figure a {
  /*defenições para o manter no centro*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  color: #F8F8F8;
  background-color: #9969F9;
  opacity: 45%;

  padding: 50px;
  border: none;
  cursor: pointer;
  border-radius: 100px;

    font-size: 20px;
    font-weight: 500;
    text-align: center;
}
    /*botão das imagens stickys - interação hover*/
    section figure a:hover {
      background-color: #9969F9;
      color: #F8F8F8;
      opacity: 100%;
    }

/*Encontra-se na página "About"*/
/* TOOL-BOX - Onde mostro aptidões técnicas - retângulos com icones e texto*/
/*Secção que controla a Tool Box: a sua forma e espaçamento entre o título e os conteudos*/

#right #Designers_ToolBox 
{
  width: 100%;
  height: 70%;
  padding-left: 100px;
  
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 2%;
}
/*É a caixa onde se encontra o software a ser apresentado na TollBox*/
#right #Designers_ToolBox .TollBox 
{
  border: 3px solid #F8F8F8;
  border-radius: 10px;
  width: 200px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  padding: 15px;
}

#right #Designers_ToolBox .TollBox img
{
  width: 50px;
}

#right #Designers_ToolBox .TollBox p
{
  flex-grow: 1;
  font-size: 16px;
}

/*Titulos das Info_Boxes - Educação e Experiência*/
#Education_Experience
{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: min-content;
  justify-content: flex-start;
  gap: 60%;
  padding: 0;
}

/* Controla as caixas de texto = contém diferentes informações*/
.Info_Boxes
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 10%;
  margin-left: 2%;
}

/* Conjunto de 3 listas ou textos  na horizontal*/
#Lists
{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  gap: 10%;
  margin-left: 2%;
  margin-top: 3%;
}


/* Galeria de Fotos sobre Journaling*/
#Journaling_Gallery
{
  width: 97vw;
  height: 100vh;
  
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  align-content: stretch;
  margin-left: 1%;
  margin-top: 2%;
  gap: 1.5%;
}

/* Fotos da galeria de fotos sobre Journaling*/
#Journaling_Gallery #one
{
  background-image: url("about_media/svt_itorijanai.jpeg");
  width: 23%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; /*contain*/
}

#Journaling_Gallery #two
{
  background-image: url("about_media/wjsn_chocome_hmph!.jpeg");
  width: 23%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#Journaling_Gallery #three
{
  background-image: url("about_media/bss_fighting.jpg");
  width: 23%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#Journaling_Gallery #four
{
  background-image: url("about_media/wjsn_myblack_myattitude.jpeg");
  width: 23%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#Journaling_Gallery #five
{
  background-image: url("about_media/artms_virtualangel.jpg");
  width: 23%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#Journaling_Gallery #six
{
  background-image: url("about_media/ive_heya.jpg");
  width: 23%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#Journaling_Gallery #seven
{
  background-image: url("about_media/aespa_supernova.jpg");
  width: 23%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*   PROJECTS  */
/*Titulo dos Projetos*/
 .project_texts h1
{
  margin-left: 3%;
  margin-top: 3%;
  margin-bottom: 1%;

}

/*Texto - Introdução dos projetos*/
.project_texts_right p
{
margin-left: 3%;
  margin-bottom: 10px;
  width:55%; 
  font-size: 16px;
  font-weight: normal;
}

/*Texto - Metodologia e pessoas relacionadas ao trabalho*/
.project_texts p span
{
  font-size: 14px;
  font-weight: 600;
}

.project_texts
{
  display: flex;
  flex-direction: row;
  width: 96vw;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 2%;
}

.project_texts_left
{
  display: flex;
  flex-direction: column;
  gap: 1%;
  width: 45%;
}





/*Img - Thumbnail dos projetos*/
.Project_thumbnail
{
  width: 100 vw;
}

/*Img - Imagem com os conteudos mais importantes dos projetos*/
.Important_Frames
{
  width: 100%;
}

/*Img - Imagens que explicam mais sobre os projetos*/
/*Localizada nos projetos "Orbeats" e "Resistoo"*/
#app_showcase
{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

video
{
  width: 100%;
  margin-bottom: 2%;
}

/*Localizada no projeto "Orbeats"*/
.Personas
{
  position: relative;
}

/*Galeria com várias imagens verticais*/
/*Localizada no projeto "Orbeats" e "Resistoo"*/
.Wireframes
{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2%;
  width: 100%;
    margin-bottom: 2%;
    margin-top: 2%;
}

.Wireframes img
{
  width: 10%;
  border: black 1px solid;
  margin-bottom: 1%;
}

/*Imagem*/
/*Localizada no projeto Kayak*/
#Flowchart
{
width: 80%;
margin-left: 10%;
}

/* "Wireframe Testing"*/
/*Localizada no projeto Kayak*/
#Testing
{
  width: 98vw;
  display: flex;
  justify-content: center;
  gap: 2%;
  margin-bottom: 2%;
}
/*Localizada no projeto Kayak*/
#Testing img
{
  width: 50vw;
  border: black 1px solid;
  border-radius: 10px;
}

/*Localizada no projeto Primavera Longa*/
.Right_layout
{
  width: 97vw;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2%;
}

#Poster
{
  width: 40%;
  position: relative;
}
/*Localizada no projeto Primavera Longa e em Waterbomb*/
#SM_Posts
{
  width: 97vw;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2%;
}

#SM_Posts img
{
  width: 30%;
  margin-top: 2%;
}

/*Localizada no projeto Primavera Longa*/
#Stories
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2%;
}
/*Localizada no projeto Primavera Longa*/
#Stories video
{
  width: 30%;
}


.Datasheet
{
  margin: 3%;
}

    h5 span
    {
      font-weight: 600;
    }

    .Datasheet h1
    {
      margin: 0%;
    }

/*Localizada no projeto Primavera Longa*/
#Branding
{
  margin-top: 2%;
  display: flex;
  justify-content:center;
  width: 100%;
  gap: 3%;

}

/*Localizada no projeto Resistoo*/
.Logo_showcase img
{
  width: 80%;
  padding: 5%;
}

#gifs
{
  width: 20%;
}



/*Todas as Text_Boxes*/

/*Caixa caracterizada pelas formas e a cor lilás*/
/*Localizada no About Me*/
#TextBox 
{
/*Background setting*/
padding: 40px;
border:#9969F9 4px solid;
  width: 20%;
  border-radius: 20px;
  margin-top: 2%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

    #TextBox p
    {
      color: black;
    font-size: 24px;
    padding-bottom: 5%;
    padding-top: 5%;
    
    }

    #TextBox p span
    {
      font-size: 24px;
      font-weight: 600;
    }

    #TextBox h5
    {
      color: black;
    }

/*Caixa caracterizada pela forma e o stroke lilás*/
/*Localizada no About Me*/
#TextBox_purple
{
/*Background setting*/
padding: 40px;
border:#9969F9 4px solid;
  width: 20%;
  margin-top: 2%;
/*to top-left corner, top-right corner,to bottom-left corner*/
border-radius: 20px;
display: flex;
flex-wrap:wrap;
align-items: center;
}
  #TextBox_purple p
  {
    color:#9969F9;
  font-size: 24px;
  padding-bottom: 5%;
  padding-top: 5%;
  }

  #TextBox_purple p span
  {
    color:#9969F9;
    font-size: 24px;
    font-weight: 600;
  }

  #TextBox_purple h5
  {
  color:#9969F9;
  }

  /*Localizada no projeto Resistoo*/
#TextBox_resistoo_blue
{
    /*Background setting*/
    padding: 40px;
    background-color:#19226D;
      width: 20%;
      margin-top: 2%;
      border-radius: 20px;
}
      #TextBox_resistoo_blue h2
      {
        color: #FFAC18;
      font-size: 24px;
      padding-bottom: 1%;
      padding-top: 3%;
      }

      #TextBox_resistoo_blue ul li
      {
        font-size: 15px;
        color: #FFAC18;
      }

      #TextBox_resistoo_blue li span
      {
        font-weight: 600;
      }

/*Localizada no projeto Resistoo*/
#TextBox_resistoo_yellow
{
    /*Background setting*/
    padding: 40px;
    background-color: #FFAC18;
      width: 20%;
      margin-top: 2%;
    border-radius: 20px;
}
      #TextBox_resistoo_yellow h2
      {
        color: #19226D;
      font-size: 24px;
      padding-bottom: 1%;
      padding-top: 3%;
      }

      #TextBox_resistoo_yellow ul li
      {
        font-size: 15px;
        color: #19226D;
      }

      #TextBox_resistoo_yellow li span
      {
        font-weight: 600;
      }

#TextBox_black_outline
{
    /*Background setting*/
    padding: 40px;
    border: black 4px solid;
      width: 20%;
      margin-top: 2%;    
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
}

#TextBox_black_outline ol li
{
  font-size: 15px;
}

#TextBox_waterbomb_yellow
{
    /*Background setting*/
    padding: 40px;
    background-color: #F3DB00;
      width: 20%;
      margin-top: 2%;
    border-radius: 20px;
}

#TextBox_waterbomb_green
{
    /*Background setting*/
    padding: 40px;
    background-color: #32CC10;
      width: 20%;
      margin-top: 2%;
    border-radius: 20px;
}