
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Rubik+Spray+Paint&display=swap');


* 
{
  margin: 0;
  padding: 0;
  /*background-color: #F8F8F8*/
}


body {
  font-family: "Poppins";
  font-weight: normal;
  color: black;
  font-size: 16px;
}


a:link { 
  text-decoration: none;
  font-weight: 300;
} 
a:visited { 
  text-decoration: none; 
  color: black;
} 
a:hover { 
  text-decoration: none;
  color:#9969F9;
} 
a:active { 
  text-decoration: none; 
}

ul li
{
  list-style-type: disc;
  margin-left: 5%;
}

h5
      {
      font-weight: 400;
      }
/*MENU*/

nav 
{
margin-bottom: 10px;
margin-top: 10px;
border-bottom: #9969F9 3px solid;

display: flex;
justify-content: space-between;
}


nav a /* O meu nome*/
{
    /*Font setting*/
    font-size: 20px;
    font-weight: 600;

    margin-left: 2%;
}

nav ul /* lista do Menu | Defenições*/
{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-right: 2%;
}

nav ul li  /* lista do Menu*/
{
/*Font setting*/
    
  font-size: 17px;
  list-style-type: none;
  margin-right: 30px;
}


/*APRESENTAÇÃO*/

#beggining
{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

#left
{
  background-color:#9969F9;
  width: 55%;
  margin-top: 50px;
  margin-bottom: 50px;
/*to top-left corner, top-right corner,to bottom-left corner*/
border-radius: 0px 100px 20px 0px;
display: flex;
justify-content: center;
align-items: center;

}

#left p 
{
  padding: 100px;
  width: 70%;

/*Font setting*/
  font-size: 36px;
  color: #F8F8F8;

/*para defenir bem o tamanho que eu desejo = quase a tela toda*/
margin-top: 80px;
margin-bottom: 80px;
}

#right
{
  background-color:#9969F9;
  width: 35%;
  margin-top: 50px;
  margin-bottom: 50px;
/*to top-left corner, top-right corner,to bottom-left corner*/
border-radius: 100px 0px  0px 20px;
display: flex;
justify-content: center;
align-items: center;
}

#right p 
{
  padding: 100px;
  width: 30%;

/*Font setting*/
color: #F8F8F8;
font-size: 36px;

/*para defenir bem o tamanho que eu desejo = quase a tela toda*/
margin-top: 20%;
margin-bottom: 20%;
}

/*Por os textos em grande e bold = o meu nome*/
div p span
{
    font-size: 36px;
    font-weight: bold;
  }
/*IMAGENS SCROLL*/
figure /*Imagens Sticky Scroll*/
{ 
  width: 100%;
  height: 100%;
  position: sticky;
  top: 0px;
  left: 0px;
}

figure img /*Defenir o tamanho das imagens Stickys*/
{
  width: 100%;
  height: 100%;
}

figcaption /*legenda das imagens stickys*/
{
  position: absolute;
  top: 425px;
  left: 92px;
  color: #F8F8F8;
  mix-blend-mode: difference;
  margin-top: 15px;

   /*Font setting*/
   font-weight: 700; 
}

figcaption span /*legenda das imagens stickys*/
{
  position: relative;
  width: 50%;
  height: 50%;
  margin-top: 1%;

   /*Font setting*/
   font-size: 10 px;
   font-weight: 500; 
}

/*botão das imagens stickys*/
section figure a {
  /*defenições para o manter no centro*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  color: #F8F8F8;
  background-color: #9969F9;
  opacity: 25%;

  padding: 50px;
  border: none;
  cursor: pointer;
  border-radius: 100px;

    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

section figure a:hover {
  background-color: #9969F9;
  color: #F8F8F8;
  opacity: 100%;
}

/*   ABOUT ME   */

#left_aboutme
{
background-color:#9969F9;
width: 55%;
margin-top: 5%;
margin-bottom: 50px;
/*to top-left corner, top-right corner,to bottom-left corner*/
border-radius: 0px 100px 20px 0px;
display: flex;
justify-content: center;
align-items: center;
}

#left_aboutme p
{
  padding: 100px;
  color: #F8F8F8;

  margin-top: 5%;
 margin-bottom: 50px;
}

h2
{
  display: flex;
  margin-left: 2%;
}


/*Secção que controla a Tool Box: a sua forma e espaçamento entre o título e os conteudos*/
#Designers_ToolBox {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

/*ToolKit - Agrupa os conteúdos e controla a sua formação*/
.box-group {
  padding: 40px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-left: auto;
 max-width: 60%;
 justify-content: flex-end;
}

/*Controla os conteúdos dentro do ToolKit*/
.TollBox span img
{
  position: absolute;
  margin-left: 20px;
}
    /* espaçamento entre o ícone e o texto */
    .TollBox img {
      margin-right: 20px; /* espaçamento entre o ícone e o texto */
    }

/* dá forma á ToolBox */
.TollBox
{
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: #F8F8F8;
  border: 3px solid #9969F9;
  border-radius: 10px;
  width: 200px;
}
/* texto da Toolbox */
.TollBox span
{
  font-size: 15px;
  font-weight: 600;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  gap: 25%;
}

#Education_Experience
{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: min-content;
  justify-content: flex-start;
  gap: 60%;
  padding: 0;
}
/* Controla as caixas de texto = contém diferentes informações*/
.Info_Boxes
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 10%;
  margin-left: 2%;
}

  #TextBox
  {
  /*Background setting*/
  padding: 40px;
  background-color:#9969F9;
    width: 20%;
    margin-top: 2%;
  /*to top-left corner, top-right corner,to bottom-left corner*/
  border-radius: 10px 100px 20px 10px;
  }

      #TextBox p
      {
        color: #F8F8F8;
      font-size: 24px;
      padding-bottom: 5%;
      padding-top: 5%;
      }

      #TextBox p span
      {
        font-size: 24px;
        font-weight: 600;
      }

      #TextBox h5
      {
      color: #F8F8F8;
      font-weight: 400;
      }

#TextBox_outline
{
  /*Background setting*/
  padding: 40px;
  border:#9969F9 4px solid;
    width: 20%;
    margin-top: 2%;
  /*to top-left corner, top-right corner,to bottom-left corner*/
  border-radius: 20px 100px 20px 100px;
  display: flex;
  flex-wrap:wrap;
  align-items: center;
}
    #TextBox_outline p
    {
      color:#9969F9;
    font-size: 24px;
    padding-bottom: 5%;
    padding-top: 5%;
    }

    #TextBox_outline p span
    {
      color:#9969F9;
      font-size: 24px;
      font-weight: 600;
    }

    #TextBox_outline h5
    {
    color:#9969F9;
    font-weight: 400;
    }

#Lists
{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  gap: 10%;
  margin-left: 2%;
  margin-top: 3%;
}

.lists_ul
{
  width: 90%;
}

#subtitle_right
{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 3%;
}

#journal
{
  width: 23%;
  height: 23%;
  margin-top: 1%;
  border-radius: 10px;
}
#Journaling_Gallery
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1%;
  width: 100%;
    margin-left: 3%;
    margin-bottom: 2%;
}

/*   PROJECTS  */

 section h1
{
  margin-left: 3%;
  margin-top: 3%;
  margin-bottom: 1%;
}

.project_texts p
{
margin-left: 3%;
  margin-bottom: 10px;
  width:80%; 
  font-size: 16px;
  font-weight: normal;
}

.project_texts p span
{
  font-size: 13px;
}

#app_showcase
{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

video
{
  width: 100%;
  margin-bottom: 2%;
}

.Personas
{
  position: relative;
}
.Wireframes
{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2%;
  width: 100%;
    margin-bottom: 2%;
    margin-top: 2%;
}

.Wireframes img
{
  width: 10%;
  border: black 1px solid;
  margin-bottom: 1%;
}

.Datasheet
{
  margin: 3%;
}

    h5 span
    {
      font-weight: 600;
    }

    .Datasheet h1
    {
      margin: 0%;
    }

#Branding
{
  margin-top: 2%;
  display: flex;
  justify-content:center;
  width: 100%;
  gap: 3%;

}

.Logo_showcase img
{
  width: 80%;
  padding: 5%;
}

h3
{
  margin-left: 2%;
  font-weight: 500;
  margin-top: 2%;
}

#TextBox_resistoo_blue
{
    /*Background setting*/
    padding: 40px;
    background-color:#19226D;
      width: 20%;
      margin-top: 2%;
    /*to top-left corner, top-right corner,to bottom-left corner*/
    border-radius: 10px 100px 20px 10px;
}
      #TextBox_resistoo_blue h2
      {
        color: #FFAC18;
      font-size: 24px;
      padding-bottom: 1%;
      padding-top: 3%;
      }

      #TextBox_resistoo_blue ul li
      {
        font-size: 15px;
        color: #FFAC18;
      }

      #TextBox_resistoo_blue li span
      {
        font-weight: 600;
      }

      #TextBox_resistoo_yellow
      {
          /*Background setting*/
          padding: 40px;
          background-color: #FFAC18;
            width: 20%;
            margin-top: 2%;
          /*to top-left corner, top-right corner,to bottom-left corner*/
          border-radius: 10px 20px 10px 100px;
      }
            #TextBox_resistoo_yellow h2
            {
              color: #19226D;
            font-size: 24px;
            padding-bottom: 1%;
            padding-top: 3%;
            }
      
            #TextBox_resistoo_yellow ul li
            {
              font-size: 15px;
              color: #19226D;
            }
      
            #TextBox_resistoo_yellow li span
            {
              font-weight: 600;
            }

/*   CONTACTS   */

#Contacts_page
{
  display: flex;
  justify-content:space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}

#biggest_text p
{
  font-size: 70px;
}

  #biggest_text span
  {
    font-size: 70px;
    font-weight: 500;
  }

  #TextBox_contacts p
  {
    padding: 40px;
    background-color:#9969F9;
      width: 80%;
      margin-top: 2%;
    /*to top-left corner, top-right corner,to bottom-left corner*/
    border-radius: 10px 100px 20px 10px;

    font-size: 60px;
    font-weight: normal;
    color: #F8F8F8;
  }

  #TextBox_contacts a
  {
    font-size: 60px;
    font-weight: normal;
    color: #F8F8F8;
  }

  #TextBox_contacts a:hover
  {
    color: #432285;
  }

  #Socials_contacts
  {
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 10%;
  }
    .socials_button_contacts
    {
      display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    gap: 2%;
    margin-top: 4%;
        /*background*/
      background-color: #9969F9;
      border-radius: 30px;
      /*font setting*/  
      color: #F8F8F8;
      font-size: 16px;
      font-weight: normal;
    }

    .socials_button_contacts a
    {
            /*font setting*/  
            color: #F8F8F8;
            font-size: 16px;
            font-weight: normal;
    }
    .socials_button_contacts a:visited
    {
            /*font setting*/  
            color: #F8F8F8;
            font-size: 16px;
            font-weight: normal;
    }
    .socials_button_contacts a:hover
    {
            /*font setting*/  
            color:#432285;
            font-size: 16px;
            font-weight: normal;
    }

/*   footer  */

footer
{
padding: 20px;
border-top: #9969F9 5px solid;
border-radius: 20px;

/*flex settings*/
display: flex;
justify-content: space-between;

}

footer p
{
  margin-left: 10px;
  letter-spacing: 1.5px;
}

footer span
{
  font-size: 20px;
  font-weight: bold;
  color: #9969F9;

}

#Socials
{
width: 70%;
display: flex;
justify-content: flex-end;
gap: 2%;

}

footer img
{
  width: 13%;
}

.socials_button
{
display: flex;
justify-content: center;
align-items: center;
padding: 5px;
width: 18%;
gap: 2%;
    /*background*/
  background-color: #9969F9;
  border-radius: 30px;
  /*font setting*/  
  color: #F8F8F8;
  font-size: 14px;
}

footer a:visited
{
  color: #F8F8F8;
}

footer a:hover
{
  color: #432285;
}